<div class="p-1 border rounded" style="background-color: #c9c4c4">
  <% @reviews.each do |review| %>
    <div class="border rounded p-2 mb-3" style="background-color: white">
      <h6>Restaurant Name</h6>
      <div><%= review.restaurant_name %></div>
      <br>
      <h6>Review</h6>
      <div><%= review.review %></div>
      <br>
      <h6>Ratings</h6>
      <% review.rating.to_i.times do %>
        <i class="bi bi-star-fill" style="color: goldenrod"></i>
      <% end %>
      <br>
      <br>
      <h6>Images</h6>
      <% review.images.each do |img| %>
        <%= image_tag(img, width: 200) %>
      <% end %>

    </div>
  <% end %>
</div>